{{#each blogs}}
  <div class="card">
      <div class="card-content">
          <h4>{{title}}</h4>
          <p>{{description}}</p>
      </div>
  </div>
{{else}}
  <h1>No blogs Posted</h1>
{{/each}}
